<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eltonio.projects.politicalcompassquiz">

    <application
        android:name="eltonio.projects.politicalcompassquiz.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:largeHeap="true">
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity android:name="eltonio.projects.politicalcompassquiz.ui.IntroActivity"
            android:theme="@style/Theme.MyApp.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="eltonio.projects.politicalcompassquiz.ui.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp.SplashStyle" />
        <activity
            android:name="eltonio.projects.politicalcompassquiz.ui.AboutActivity"
            android:label="@string/about_title_actionbar"
            android:parentActivityName="eltonio.projects.politicalcompassquiz.ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eltonio.projects.politicalcompassquiz.ui.SettingsActivity"
            android:label="@string/settings_title_actionbar"
            android:parentActivityName="eltonio.projects.politicalcompassquiz.ui.MainActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name="eltonio.projects.politicalcompassquiz.ui.SavedResultDetailActivity"
            android:label="@string/savedresultdetail_title_actionbar"
            android:parentActivityName="eltonio.projects.politicalcompassquiz.ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eltonio.projects.politicalcompassquiz.ui.SavedResultsActivity"
            android:label="@string/saved_title_actionbar"
            android:parentActivityName="eltonio.projects.politicalcompassquiz.ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eltonio.projects.politicalcompassquiz.ui.InfoActivity"
            android:label="@string/info_title_actionbar"
            android:parentActivityName="eltonio.projects.politicalcompassquiz.ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="eltonio.projects.politicalcompassquiz.ui.IdeologyInfoActivity"
            android:label="@string/info_title_actionbar"
            android:parentActivityName="eltonio.projects.politicalcompassquiz.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name="eltonio.projects.politicalcompassquiz.ui.ResultActivity"
            android:label="@string/result_title_actionbar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name="eltonio.projects.politicalcompassquiz.ui.QuizActivity"
            android:label="@string/quiz_title_actionbar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name="eltonio.projects.politicalcompassquiz.ui.ChooseIdeologyActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name="eltonio.projects.politicalcompassquiz.ui.MainActivity"
            android:label="@string/main_title_actionbar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp.NoActionBar">
        </activity>
        <activity android:name="eltonio.projects.politicalcompassquiz.ui.BaseActivity" />
    </application>

</manifest>